APP_ADDRESS=xxxxxxxxx
APP_DEBUG=xxxxxxxxx
APP_READ_TIMEOUT=xxxxxxxxx
APP_WRITE_TIMEOUT=xxxxxxxxx

PG_CONN_MAX_LIFETIME=xxxxxxxxx
PG_DBNAME=xxxxxxx
PG_DBPASS=xxxxxxxxx
PG_DBUSER=xxxxxxxxx
PG_HOST=xxxxxxxxx
PG_MAX_IDLE_CONNS=xxxxxxxxx
PG_MAX_OPEN_CONNS=xxxxxxxxx
PG_PORT=xxxxxxxxx
PG_SSL_MODE=xxxxxxxxx

JWT_SECRET_KEY=xxxxxxxxx
JWT_ENCRYPT_KEY=xxxxxxxxx
JWT_ENCRYPT_IV=xxxxxxxxx
JWT_ISSUER=xxxxxxxxx

GOOGLE_CLIENT_ID=xxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxx
GOOGLE_REDIRECT_URL=xxxxxxxxx
GOOGLE_FRONTEND_REDIRECT_URL=xxxxxxxxxx
GOOGLE_VIDEO_BUCKET_NAME=xxxxxxxxxxx
GOOGLE_IMAGE_BUCKET_NAME=xxxxxxxx
GOOGLE_SERVICE_ACCOUNT_FILE_PATH=service_account.json
GOOGLE_FILE_BUCKET_NAME=xxxxxxxxxxx
GOOGLE_EDUCATION_BUCKET_NAME=xxxxxxxx
GOOGLE_BUCKET_PUBLIC_URL=xxxxxxxxx


DISCORD_TOKEN=xxxxxxxxx
DISCORD_GUILD_ID=xxxxxxxxx
DISCORD_ROLE_ID=xxxxxxxxx
DISCORD_BASE_URL=xxxxxxxxx
DISCORD_CLIENT_ID=xxxxxxxxx
DISCORD_CLIENT_SECRET=xxxxxxxxx
DISCORD_REDIRECT_URI=xxxxxxxxx


SENDGRID_API_KEY=xxxxxxxxx
SENDGRID_SENDER_NAME=xxxxxxxxx
SENDGRID_SENDER_EMAIL=xxxxxxxxx


FORGOT_PASSWORD_URL=xxxxxxxxx