APP_ADDRESS=:8089
APP_DEBUG=true
APP_READ_TIMEOUT=5s
APP_WRITE_TIMEOUT=10s

PG_CONN_MAX_LIFETIME=30m
PG_DBNAME=dbname
PG_DBPASS=dbpass
PG_DBUSER=dbuser
PG_HOST=localhost
PG_MAX_IDLE_CONNS=6
PG_MAX_OPEN_CONNS=30
PG_PORT=5432
PG_SSL_MODE=disable

DISCORD_TOKEN=xxxx
DISCORD_GUILD_ID=xxxx
DISCORD_ROLE_ID=xxxx
DISCORD_BASE_URL=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

JWT_SECRET_KEY=xxxx
JWT_ENCRYPT_KEY=xxxx (16 char)
JWT_ENCRYPT_IV=xxxx (16 char)
JWT_ISSUER=xxxxx

GOOGLE_CLIENT_ID=xxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx
GOOGLE_REDIRECT_URL=http://localhost:8060/v1/users/login/google/callback

# Midtrans
MIDTRANS_MERCHANT_ID=
MIDTRANS_CLIENT_ID=
MIDTRANS_CLIENT_SECRET=